[2017-12-05 18:05] atarian88 opened #1 "AmazonS3Client.generatePresignedUrl throws IllegalArgumentException: Access key cannot be null."
Hello.

In my code, I'm trying to generate a presigned URL for downloading files through a browser. This is how I set up the AmazonS3Client:

[code]

This is how I attempt to generate the presigned URL:
[code]

However, this makes the Amazon part of the library throws this `IllegalArgumentException`:

[code]

I have narrowed the cause down to these two methods in `BasicIBMOAuthCredentials`:
[code]

[2017-12-06 20:20] wbhuberIBM commented on #1
@atarian88 we are looking into this issue and will get back to you as soon as we can.

[2018-01-08 14:44] SeamusMcGrathAnaeko commented on #1
@atarian88 currently the java SDK does not support presigned urls with IAM credentials. You will need to use access & secret keys if possible. We will implement some updates to improve the message returned in this scenario.

[2018-01-24 16:58] geofreyflores commented on #1
Currently stuck on the same issue. Are there any sample code on how to generate presigned URLs and work around this issue?

[2018-01-25 05:51] smcgrath-IBM commented on #1
@geofreyflores see https://console.bluemix.net/docs/services/cloud-object-storage/libraries/java.html#java the createClient() method uses the BasicAWSCredentials. This implementation of AWSCredentials will work with presigned urls. You will need accessKey & secretKey details. Presigned urls are not supported with IAM credentials at present.

[2018-01-29 18:45] fishyjerky opened #2 "Is there Retry-Logic in the SDK"
Hi, I'm migrating from object store and had some questions about retry-logic.  I encountered a lot of timeouts when using object store (socket and connection) and had some retry-logic built into my http-handlers.

Does the java-sdk handle failures and retries for me?  Or should I implement my own set of retries?

Thanks.

[2018-01-30 11:38] smcgrath-IBM commented on #2
Hi @fishyjerky there is a built in retry mechanism on 5xx http responses. This defaults to 4 attempts, but is configurable using ClientConfiguration().withMaxErrorRetry(). I can't advise on any network issues you are having, but if you think there is an issue with the SDK please send on some more detail & debug logs if you have them.

[2018-01-30 16:34] fishyjerky commented on #2
That sounds great.  I will use it and after I migrate, I will let you guys know if I notice any network issues that could be from the COS service.

[2018-01-30 16:34] #2 closed

[2018-01-30 17:08] JoeBall opened #3 "Example Code"
Is the example code up-to-date ?
I get the error "method withCredentials is undefined for typeAmazonS3ClientBuilder"

code snippet:
 AmazonS3 s3Client = AmazonS3ClientBuilder.standard().withCredentials(new AWSStaticCredentialsProvider(credentials))
                .withEndpointConfiguration(new EndpointConfiguration(endpoint_url, location)).withPathStyleAccessEnabled(true)
                .withCli

[2018-01-30 17:38] Patrick-Browne commented on #3
The code looks valid. AmazonS3ClientBuilder has a method, withCredentials, that accepts a single argument of type AWSCredentialsProvider, (which AWSStaticCredentialsProvider is). There was a namespace change in version 2.0.0 of the sdk. So, for example, com.amazonaws.auth.AWSStaticCredentialsProvider became com.ibm.cloud.objectstorage.auth.AWSStaticCredentialsProvider. Might be worth double checki

[2018-01-30 18:50] JoeBall commented on #3
ok I see the method in AwsClientBuilder.

AmazonS3ClientBuilder extends AmazonS3Builder
AmazonS3Builder extends AwsSyncClientBuilder
AwsSyncClientBuilder extends AwsClientBuilder

My build had an error - but now it works . Thanks for the quick reply

[2018-01-30 18:50] #3 closed

[2018-02-07 16:58] YiannisGkoufas opened #4 "Android compatibility"
We cannot use this library in Android and I couldn't find any guides to use Object Storage in Android besides this deprecated library.
Can you let us know what are the steps needed to modify this library to use it Android?
Or any potential workaround to access Object Storage in Android?

Thanks!

[2018-02-08 09:57] smcgrath-IBM commented on #4
Hi @YiannisGkoufas Android is not supported in the java sdk. At this point I don't have a timeline of when an Android sdk will be available.

[2018-02-12 11:11] smcgrath-IBM commented on #4
HI @YiannisGkoufas take a look at the documentation around hmac headers;
https://console.bluemix.net/docs/services/cloud-object-storage/hmac/credentials.html#using-hmac-credentials

https://console.bluemix.net/docs/services/cloud-object-storage/hmac/hmac-signature.html#constructing-an-hmac-signature

If you are using IAM credentials you will not be able to create the required headers though.

[2018-02-12 17:10] YiannisGkoufas commented on #4
Hi @smcgrath-IBM  please have a look in this branch: https://github.com/YiannisGkoufas/ibm-cos-sdk-java/tree/android
`mvn clean install`
and then in the gradle file just import:
`compile group: "com.ibm.cos", name:"ibm-cos-java-sdk-s3", version:'2.0.1-SNAPSHOT'`
So far all the java examples seem to be working

[2018-02-14 13:06] YossiTamari opened #5 "Example code in README.md confusing"
In the example in README.md, the method listBuckets receives a s3Client parameter, but then it ignores it and uses the static member _s3Client instead.
I believe the method should use the parameter. In fact, I think the static member should be removed from the code and a simple local variable should be used in main().

[2018-03-06 17:57] wbhuberIBM commented on #5
@YossiTamari  README updated with clarity:

https://github.com/IBM/ibm-cos-sdk-java/README.md

[2018-03-06 17:57] #5 closed

[2018-03-15 09:06] #1 closed

[2018-03-15 09:06] #4 closed

[2018-03-29 06:58] ichabondcrane opened #6 "java.lang.IllegalArgumentException"
Hi, I've tried to set up this project in java via Eclipse Mars and Maven and it works fine when I run the code manually. I can see that I can connect to IBM Object Storage and I can display the list of buckets that I have.
However, I need to run this code in a Domino Server as a java agent.. And I need to run the java agent on schedule. I have retrieved all the jar files needed (got it via Maven)

[2018-03-29 10:39] ichabondcrane commented on #6
I've managed to resolve the error message above , but I'm getting a different error message: when I try to execute the putObject, (am trying to upload the pdf to the bucket)

 Mar 29, 2018 12:19:54 PM InsertToObjStorage <init>
SEVERE: com.ibm.cloud.objectstorage.services.s3.model.AmazonS3Exception: The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchKey; Requ

[2018-03-29 10:52] Patrick-Browne commented on #6
@ichabondcrane glad to hear that that you managed to resolve the earlier classpath issue. The second error is occurring because the bucket specified on the put object request cannot be found on COS. Can you confirm that the bucket has been created and that the S3 client has write privileges to it.

[2018-03-29 12:45] ichabondcrane commented on #6
@Patrick-Browne - are you an ibmer? I'm able to see the bucket ..through this code, which was the sample from the ibm site.. https://github.com/IBM/ibm-cos-sdk-java

 public static void listBuckets(AmazonS3 cos)
    {
        System.out.println("Listing buckets");
        final List<Bucket> bucketList = _cos.listBuckets();
        for (final Bucket bucket : bucketList) {
            System.out.pri

[2018-03-29 12:46] ichabondcrane commented on #6
@Patrick-Browne - is it possible to get your ibm email? im an ibmer too, lumban@sg.ibm.com

[2018-03-29 13:47] ichabondcrane commented on #6
@Patrick-Browne - we've managed to solve the issue and worked with my architect to get the right credentials. Your advise helped a lot to steer me in the right direction !!! thanks again..

[2018-03-29 13:48] #6 closed

[2018-04-10 03:45] rvennam opened #7 "Example code to get endpoint_url from endpoints"
The generated credentials on IBM Cloud are in this format
[code]
The example code should show how to get the correct region endpoint url from IBM Cloud credentials -> endpoints

        String endpoint_url = "https://s3-api.us-geo.objectstorage.softlayer.net";
        String location = "us";

[2018-04-12 11:00] YossiTamari opened #8 "Make UserMetaData truly case insensitive"
Currently UserMetaData inside ObjectMetaData is implemented as a CASE_INSENSITIVE_ORDER TreeMap, to model the fact that the server treats all metadata names as lowercase. This does not work well enough when two metadata items with the same name except casing are entered (e.g. {"hello":"world", "Hello":"Bye"}. The server throws a 403-SignatureDoesNotMatch error. I assume it is because it only sees

[2018-04-17 08:16] Patrick-Browne commented on #7
@rvennam thanks we'll take a look into this and get the example code updated.

[2018-04-17 08:37] Patrick-Browne commented on #8
@YossiTamari I agree that client validation of custom headers is necessary here. I would be more in favor of your second suggestion of throwing an exception when conflicting names are encountered. My concern with the first approach is that where we have the same header with multiple values, choosing one value over the others could lead to more confusion.

[2018-04-17 08:55] YossiTamari commented on #8
@Patrick-Browne I understand your reasoning, just keep in mind that the first option is what is currently happening, (unless the server decides to throw an exception, which is not consistent), so it is the more backward-compatible change. It is also what happens if you set the same key twice (case-equal).

[2018-04-17 16:26] zhuojc commented on #8
Can this issue be closed?

[2018-04-17 18:03] YossiTamari commented on #8
@zhuojc No. There is an agreement that a fix is needed here. It is not 100% sure which of the two fix options is best, but one of them needs to be implemented.

[2018-04-18 12:56] hegdehr commented on #8
@Patrick-Browne We should pursue the option of returning an error with the appropriate code and description. I agree choosing one value over the other could lead to confusion

[2018-04-24 13:33] roryodonnell opened #9 "doesBucketExist() returns true when client has invalid client creds"
[code]

[2018-04-24 16:07] Patrick-Browne commented on #9
@roryodonnell thanks for reporting this. doesBucketExist() has a precondition that assumes that the credentials are correct. By using headBucket() to verify that the bucket exists, it's unable to determine if a 403 Forbidden error is because the user doesn't have permission to the bucket or because the supplied credentials are invalid. We can address this by deprecating doesBucketExist and introdu

[2018-04-24 17:03] Patrick-Browne commented on #9
The problem with listBuckets() is that it won't list buckets that the user didn't create even if they have permission to it. Perhaps getBucketACL() might meet requirements.

[2018-05-11 08:28] roryodonnell opened #10 "null Token causes NPE"
tokenExpiresInSecs = Integer.parseInt(token.getExpires_in());
[code]

[2018-05-11 09:06] smcgrath-IBM commented on #10
Hi @roryodonnell we'll look into this. It should be handled better. Were you running normal IAM authentication flow or have you written any custom token provider implementation?

[2018-05-11 10:34] smcgrath-IBM commented on #10
Looks like it is failing to retrieve a token, although it should handle the null object better. Can you reach https://iam.ng.bluemix.net/oidc/token from within minikube?

[2018-05-11 10:40] roryodonnell commented on #10
haven't tried that

[2018-05-14 14:09] paul-carron commented on #9
@roryodonnell, did Patrick's suggestion help?

[2018-05-14 14:15] roryodonnell commented on #9
thanks Paul - kind of.  I just needed to call a any method that would throw an exception if the creds were incorrect, so, yes.  listBuckets will throw exception if my supplied creds are invalid

[2018-05-14 14:15] #9 closed

[2018-05-18 14:32] smcgrath-IBM commented on #10
@roryodonnell did you get connectivity within minikube to the token endpoint? If so, did it resolve your issue?

[2018-05-18 14:37] roryodonnell commented on #10
I'm not sure - didn't dig into it too much. It could have been a temporary connection issue with cos - but as you say - the main point is to direct you to the unhandled NPE exception

[2018-05-18 14:42] smcgrath-IBM commented on #10
ok, we have an internal Jira raised - CSAFE-38356. I'll keep this github issue open too. thanks

[2018-05-18 14:47] roryodonnell commented on #10
....happy Friday!!

[2018-06-21 17:11] nglange commented on #7
This was updated [here](https://console.bluemix.net/docs/services/cloud-object-storage/libraries/java.html#code-examples) a while ago, can this be closed?  😬

[2018-06-21 17:55] Patrick-Browne commented on #8
@YossiTamari after reviewing the issue, it looks like the SDK handles duplicate metadata headers by overwriting the value. This is the true regardless of the text case used for the header. So in any PUT request only one instance of the metadata header will be present. Where we get issues is when a custom request header that matches a metadata header in the same request is also added. This will res

[2018-06-21 18:16] YossiTamari commented on #8
@Patrick-Browne My headers were not prefixed with 'x-amz-meta'. Are you sure that the SDK calculates the signature based only on the lower cased one?

[2018-06-22 08:44] Patrick-Browne commented on #8
@YossiTamari testing with AWS4Signer, the SDK converts the headers to lower case before calculating the signature. The AWS4Signer builds a canonicalized request and handles the headers by calling it's getCanonicalizedHeaderString() method as shown in the code snippet below. I'll need to confirm that the other SDK signers handle headers on a similar way. When you produced the 403 were you using HMA

[2018-06-24 09:29] YossiTamari commented on #8
The attached file contains a simple test that shows that creating two user metadata keys, _hello_ and _HELLO_, **with different values** causes the upload to fail.
[S3Test.txt](https://github.com/IBM/ibm-cos-sdk-java/files/2130626/S3Test.txt)

Note that some constants need to be given values before running.

[2018-06-25 10:44] Patrick-Browne commented on #8
@YossiTamari thanks for the test code. I think the problem here is that you're replacing ObjectMetadata's default map which is case insensitive with a custom map which is case sensitive.

ObjectMetadata by default will store user metadata in a case insensitive TreeMap. If we add a duplicate header, as shown in the code below, the second put value will overwrite the first put value. Duplicate heade

[2018-06-25 11:06] YossiTamari commented on #8
Since sending a set of metadata is a very common use-case, I personally think this approach is just asking for trouble, and it would be better to drop the setUserMetadata method from the API (or fix it so that it would copy the values to the internal map). This is bad API design that exposes the internal implementation of the API to the API user, and basically encourages him/her to break it.
If yo

[2018-07-05 17:43] hegdehr commented on #7
@rvennam Can we close this ticket please? Thanks!

[2018-07-05 17:44] hegdehr commented on #8
@Patrick-Browne Where are we with this? Can you post an update here please? Thanks!

[2018-07-05 18:07] Patrick-Browne commented on #8
We've implemented a change to the setUserMetadata() method that copies the contents of the user supplied map to ObjectMetadata's case  insensitive treemap. This will  ensure backward compatibility and prevent the addition of duplicate headers. The change can be targeted for next release.

[2018-07-05 19:22] #7 closed

[2018-07-09 10:43] bh0241 commented on #10
Hi @roryodonnell this issue has been resolved in the latest public release of the Java SDK. Version 2.1.3.

Please let us know if you have any further issues with this.

[2018-07-09 11:02] barry-hueston-IBM commented on #10
Hi @roryodonnell this issue has been resolved in the latest public release of the Java SDK. Version 2.1.3.

Please let us know if you have any further issues with this.

[2018-07-12 11:05] #10 closed

[2018-07-30 08:55] paul-carron commented on #8
Documentation updated:
https://console.bluemix.net/docs/services/cloud-object-storage/libraries/java.html#using-java

close #8

[2018-08-06 12:15] paul-carron commented on #8
Closed #8.

[2018-11-30 11:27] fberzolla-ibm opened #12 "API Does'nt work thru an HTTPS Proxy"
The API does not work if we are using an HTTPS Proxy !

To be precise The IAM authentication part of the API does not work if we are using an HTTPS Proxy.

The method com.ibm.cloud.objectstorage.oauth.DelegateTokenProvider.retrieveToken() uses a direct socket connection and therefore doesn't go thru the HTTPS proxy !

We have a customer that cannot use a SOCKS proxy for security reasons !

Is ther

[2018-11-30 12:03] seamy49 commented on #12
Hi @fberzolla-ibm I presume you are using the DelegateTokenProvider for Aspera transfers. You can overwrite the default config on the provider like below;

DelegateTokenProvider asperaTokenProvider;
asperaTokenProvider = new DelegateTokenProvider(<API_KEY>).withIamEndpoint(<IAM_URL>);

DefaultTokenManager tokenManager = new DefaultTokenManager(asperaTokenProvider);
		tokenManager.setIamEndpoint(<I

[2018-11-30 13:33] fberzolla-ibm commented on #12
Hi @seamy49
No I'm not using DelegateTokenProvider for Aspera transfers!

I'm just using the example coming from the README.
https://github.com/IBM/ibm-cos-sdk-java/blob/master/README.md

I'm not using not setting the TokenManager myself ! It is Embeded in the BasicIBMOAuthCredentials class !

[code]
If you run the example and if you set up an HTTPS Proxy then it fails ! Because the BasicIBMOAuthC

[2018-11-30 13:43] smcgrath-IBM commented on #12
@fberzolla-ibm BasicIBMOAuthCredentials uses DefaultTokenProvider, the delegate provider is for Aspera transfers. Are you looking to set a different endpoint to send IAM token requests through your proxy?

[2018-11-30 14:45] fberzolla-ibm commented on #12
@smcgrath-IBM
What I want to achieve is very simple. I want to run the sample CosExample that you provide in the README.

This work fine with my own parameters

[code]
But If I set an HTTPS proxy at the JVM layer

[code]

The the sample code does not work anymore !

It seems that the code that obtain the token from the iam URL https://iam.bluemix.net/oidc/token
(located in the class com.ibm.cloud.

[2018-11-30 15:39] smcgrath-IBM commented on #12
@fberzolla-ibm can you enable debug logging with log4j config & attach the output?

[2018-12-03 10:17] smcgrath-IBM commented on #12
Hi @fberzolla-ibm on analysing mitmproxy logging, I can see only S3 calls using the proxy as you have found, not IAM tokens. I have created an internal issue to track this CSAFE-47973

[2019-01-10 12:10] Hendrik-H opened #13 "listBuckets fails after a failed createBucket"
When a `createBucket` fails due to a conflict with an existing bucket a following `listBuckets` call fails with this exception:
[code]

The extra strange thing is that the wire trace shows no difference between a failing `listBuckets` call and working one, exception from the signature.

[2019-01-10 13:23] smcgrath-IBM commented on #13
@Hendrik-H I will look into this issue and get back to you with my findings.

[2019-01-10 14:01] smcgrath-IBM commented on #13
@Hendrik-H I will look into this issue and get back to you with my findings.

[2019-01-11 11:58] smcgrath-IBM commented on #13
@Hendrik-H would you be able to paste your code here, ensuring to remove all credentials info, Im having issues replicating the error.

[2019-01-11 12:07] Hendrik-H commented on #13
@smcgrath-IBM my test code looks like this:
[code]

the output is:
[code]

Without the failing `createBucket` call the `listBucket` call works without any error.
I'm using the latest SDK version: 2.4.1

[2019-01-11 12:31] smcgrath-IBM commented on #13
Thanks @Hendrik-H I can see the same issue now, although the listbuckets is throwing a 'No URI' message in the exception for myself. I have raised an internal JIRA to track this issue for a future patch release - CSAFE-49102. This git issue will be updated when we have a solution ready.

[2019-02-04 14:07] barry-hueston-IBM commented on #12
Hi @fberzolla-ibm , a fix for this issue has been released in the latest version of the Java SDK 2.4.2, please let us know if this resolves your issue.

[2019-02-07 09:23] smcgrath-IBM commented on #12
Hi @fberzolla-ibm did you try the latest SDK, is it ok to close this off?

[2019-02-08 14:41] smcgrath-IBM commented on #12
closing as fix supplied in 2.4.2 release

[2019-02-08 14:41] #12 closed

[2019-02-12 18:47] damache opened #14 "`+` symbol in file name is replaced with a space"
When consuming data from COS using spark 2.4 configured with stocator 1.0.28, some of the files that have a `+` in the file name can not be found.

steps to reproduce:

files are stored in COS in this format: ibm.platform.metrics.us-south.metric_datapoint.v1+1+0001903108.avro
1. run spark shell => spark-shell --packages org.apache.spark:spark-avro_2.11:2.4.0,com.ibm.stocator:stocator:1.0.28
2. loa

[2019-02-12 19:19] hegdehr commented on #14
This was a known issue that was resolved in COS SDK 2.1.1 and later. Are you using the latest version of Stocator with the updates? See Stocator issue: https://github.com/CODAIT/stocator/issues/171

[2019-02-12 19:41] gilv commented on #14
@hegdehr we are using the latest COS SDK. I reproduced the issue with COS SDK without using Stocator. Also used UTF-8

[2019-02-12 19:47] gilv commented on #14
@hegdehr I do found it a bit weird...we had this issue in the past, was resolved as in #171. Now we have the same issue again,and it's pure COS SDK. I reproduced it easily without Stocator

[2019-02-12 19:48] hegdehr commented on #14
Thanks @gilv we will take a look

[2019-02-12 21:42] damache commented on #14
Gil's code is attached in the description.  cos-code-snippet.txt

[2019-02-13 11:42] smcgrath-IBM commented on #14
@gilv I having trouble recreating the issue. I created a new bucket & added 4 files, some with + in name, and snippet below to output their names;
`String bucketName = "mynewbucketgit141";

		ListObjectsRequest request = new ListObjectsRequest();
		request.setBucketName(bucketName);
		request.setMaxKeys(5000);
		request.withEncodingType("UTF-8");

		ObjectListing objectList = s3Client.listObjects(

[2019-02-13 16:46] damache commented on #14
@smcgrath-IBM if you read the logs I posted you will see that we have a lot of data in COS.  around 3.5 million rows.  Not sure how many objects those rows are across (we are working on optimizing this with larger objects), but the objects range from 15 KB to 35 KB.

the logs show there are several requests made to handle all of the objects.

when this line is ran `val df = spark.read.format("avro

[2019-02-13 17:32] damache commented on #14
I parsed the logs
this starts the request `val df = spark.read.format("avro").load("cos://managed-apps-drop-zones.mycos/metrics-v3/*")`
1. initial request to get the objects
[initial-request.log](https://github.com/IBM/ibm-cos-sdk-java/files/2861403/initial-request.log)
2. the initial request returns a subset of the data and socator processes it.  In the logs from stocator you can see the objects

[2019-02-13 17:46] gilv commented on #14
@smcgrath-IBM I failed to read the following object

metrics-v3/ibm.platform.metrics.us-south.metric_datapoint.v1/timestamp=2019-02-11    00:30/ibm.platform.metrics.us-south.metric_datapoint.v1+5+0001057542.avro

[2019-02-14 06:13] gilv commented on #14
@smcgrath-IBM I am not sure i follow you..about 6 months ago your team suggested to use "request.withEncodingType("UTF-8");" in order to support "+" sign. https://github.com/CODAIT/stocator/issues/171 .
Now you suggest to remove it?

[2019-02-14 15:04] smcgrath-IBM commented on #14
@gilv I can list that object, see below. I haven't made any suggestions yet, still investigating. Can you send me a stacktrace of the error you get attempting to read the object? Are you doing a direct call on s3 outside Stocator?
`obj.getKey:1+1
obj.getKey:12
obj.getKey:2+2+2
obj.getKey:223
obj.getKey:333++444
obj.getKey:555 444 33
obj.getKey:metrics-v3/ibm.platform.metrics.us-south.metric_datapo

[2019-02-14 15:48] gilv commented on #14
@smcgrath-IBM I provided you Java code without any Stocator usage. Please coordinate with @damache. May be she can provide you credentials off line and you can try. I already explained that it's not Stocator issue and can be reproduced easily.

[2019-02-14 15:55] gilv commented on #14
@smcgrath-IBM I provided all the code to @barry-hueston-IBM. Please co-ordinate with him

[2019-02-14 16:15] gilv commented on #14
@smcgrath-IBM @barry-hueston-IBM I just used the code i provided you and run list again. Object returned without "+" sign. So please coordinate with @damache .

then you will observe resposes like this

metrics-v3/ibm.platform.metrics.us-south.metric_datapoint.v1/timestamp=2019-02-11 00:30/ibm.platform.metrics.us-south.metric_datapoint.v1 3 0004659419.avro
metrics-v3/ibm.platform.metrics.us-south.

[2019-02-14 20:15] smcgrath-IBM commented on #14
@damache @gilv I can try to replicate from the bucket you have if you want to PM me credentials over Slack

[2019-02-15 09:38] smcgrath-IBM commented on #14
@damache @gilv which version of Stocator & cos sdk is been used for this? I see within stocator-process-initial-request.log it is using aws packages to handle the xml response, which would suggest cos sdk is not been used.-

[2019-02-15 12:10] damache commented on #14
1.0.28.  I just looked on maven and there are two version newer.  I can change to a new version and run it now.

[2019-02-15 12:14] damache commented on #14
I ran it with the 1.0.30, still get FNF
[code]

[2019-02-15 12:17] smcgrath-IBM commented on #14
Thanks @damache . @gilv you will need to provide some input here as to which underlying SDK is in use. The issue is raised against COS SDK. Ive checked the pom on Stocator master & it is using aws libraries. The log attached to this issue would suggest that also.

[2019-02-15 12:27] damache commented on #14
as for the version of cos sdk, maven doesn't print it on the conosle. is it packaged with stocator?  in my local .m2 I have ibm-cos-java-sdk-bundle 2.4.1

[2019-02-15 12:33] damache commented on #14
I deleted the cos .m2 cache, reran spark and cos sdk didn't get reloaded.  I looked at the stocator pom file, I don't see cos listed in there.  I haven't worked with java in a few years, so maybe I'm missing something.  ivy doesn't have the jar files either.

[2019-02-15 12:43] smcgrath-IBM commented on #14
From the 1.0.31-SNAPSHOT build I see on github it is using `<amazon.sdk.version>1.11.59</amazon.sdk.version>`

[2019-02-15 13:53] gilv commented on #14
@smcgrath-IBM i am not sure why you keep asking about Stocator, while i keep saying that i provided you Java code that uses COS SDK without any Stocator... Did you saw the code i provided you?

[2019-02-15 13:58] smcgrath-IBM commented on #14
@gilv I cant replicate with any objects Ive pushed to my storage or listing objects provided by @damache account. Can you provide me steps to replicate from bucket creation, PutObject & ListObject using COS SDK? The reason Im asking about Stocator is the logs provided are from that application.

[2019-02-15 14:01] gilv commented on #14
@smcgrath-IBM Did you used the code i provided you?

[2019-02-15 14:04] gilv commented on #14
@smcgrath-IBM
I have Java code, use @damache account - it show wrong listing.
I provided that code to you.
You claim it works for you?  The same excact code??

[2019-02-15 14:10] smcgrath-IBM commented on #14
@gilv I extracted out the listObjects initially, it wouldn't replicate. To actually run your code relies on hadoop libraries & configuration files. Please drop in code that I can run using solely COS SDK & replacing accessKey & secretKey. Then I investigate further

[2019-02-15 14:13] gilv commented on #14
@smcgrath-IBM that code uses Hadoop Configuration dictionary...just remove and write String value instead of it with accessKey. Please adapt the code, it's very simple.

[2019-02-15 14:47] smcgrath-IBM commented on #14
@gilv your code is not setting the encoding type when retrieving subsequent listings from the bucket, that is the reason I could not replicate with the listObject method.
`              if (isTruncated) {
	    	 **objectList.setEncodingType("UTF-8");**
	         objectList = mClient.listNextBatchOfObjects(objectList);
	         objectSummaries = objectList.getObjectSummaries();
	       } else {

[2019-02-15 17:16] cmuchinsky commented on #14
Shouldn't the original request encoding doesn't cascade down into the results it returns?

[2019-02-16 04:51] gilv commented on #14
@smcgrath-IBM why it's not enough to set

request.withEncodingType("UTF-8"); ?

Also, why it worked in the past?

[2019-02-16 19:34] hmckinne opened #15 "CosExample code can't find AWS Access Key ID"
When trying to run the CosExample sample COS client against my own IBM COS instance, I get this error:

I replaced the api_key, service_instance_id and endpoint_url values with those from the COS service credentials. I am using v2.4.2 of the IBM COS SDK.

If I generate HMAC credentials in my COS instance, it does work. Is the example code still current, or could I be doing something wrong?

[2019-02-17 19:13] smcgrath-IBM commented on #15
Hi @hmckinne can you ensure you are creating an instance of `BasicIBMOAuthCredentials` instead of `BasicAWSCredentials` when using api key & service instance. If this does not work can you paste in your code?

[2019-02-17 19:53] smcgrath-IBM commented on #14
@gilv there may be a bug on the S3 api side, I cant see it returning the encoding type field in the http xml body, which it should, I'll need to look into that piece further.

[2019-02-17 20:43] gilv commented on #14
@smcgrath-IBM @damache good...then we eventually managed to reproduce the issue and there is work around to use UTF-8 for listing even provided on the request level.
@damache https://github.com/CODAIT/stocator/commit/687e44db9dfa4b0ee37e08cb8a2f5e41a37d4cc2
I modified Stocator, it now return "+" correctly.  Will make new Stocator release. Will update you once i am done

[2019-02-17 23:44] hmckinne commented on #15
Thanks, @smcgrath-IBM. I am using the sample code in this repo. I changed the endpoint URL in the sample code to https://s3.us-south.cloud-object-storage.appdomain.cloud, so it is using `BasicAWSCredentials`. I notice that the parameters for this constructor are `access_key` and `secret_key`. Does this imply that HMAC credentials have to be used instead?

[2019-02-18 10:29] smcgrath-IBM commented on #15
Yes, access_key & secret_key are HMAC credentials & an instance of `BasicAWSCredentials` is required. Api key & service instance use an instance of `BasicIBMOAuthCredentials` for credentials. Let me know if this resolves your issue.

[2019-02-18 15:37] hmckinne commented on #15
That makes sense. Thanks.

[2019-02-18 15:37] #15 closed

[2019-02-19 11:03] smcgrath-IBM commented on #14
CSAFE-50949 ticket has been created against the S3 api for this issue. Im closing off this issue as it has been raised against the java SDK.

[2019-02-19 11:03] #14 closed

[2019-02-21 09:41] elder-cb opened #16 "Broken multipart upload in 2.4.1"
Using `TransferManager` to upload a `File` with version 2.4.1 throws exception:
[code]

**Sample code:**
[code]

**Expected:**
Successful upload, as it happens with version 2.0.0

**Observed:**
[code]

**Version tested:**
v2.4.1

[2019-02-21 10:50] paul-carron commented on #16
@elder-cb I'm looking into this now.

Is there a reason you're using 2.4.1? The current version is 2.4.3

[2019-02-21 12:23] paul-carron commented on #16
@elder-cb do you have any more informaiton on this? I'm currently unable to recreate the issue.

[2019-02-21 17:08] elder-cb commented on #16
@paul-carron
I've uploaded a sample project to replicate the issue, updating also to version 2.4.2 (I was using 2.4.1 'cause it was the latest when I started coding with it and never updated): https://github.com/elder-cb/cos-sdk-issue-16

[2019-02-22 11:09] barry-hueston-IBM commented on #16
Ticket CSAFE-51255, has been raised to track this issue internally.

[2019-03-04 16:58] elder-cb commented on #16
FYI, I've added docker support in the [sample code](https://github.com/elder-cb/cos-sdk-issue-16) using `ibmcom/ibmjava:8-sdk` base image

[2019-03-28 13:58] seamy49 commented on #13
@Hendrik-H can you set this value on your ClientConfiguration object`.withUseExpectContinue(false)` this has resolved the issue for me

[2019-03-28 14:00] smcgrath-IBM commented on #13
@Hendrik-H can you set this value on your ClientConfiguration object.withUseExpectContinue(false) this has resolved the issue for me

[2019-03-29 14:29] smcgrath-IBM commented on #13
Hi @Hendrik-H did you get a chance to try this configuration?

[2019-03-29 14:31] Hendrik-H commented on #13
hi @smcgrath-IBM , I saw your update but did not get to it yet. I have it on my todo list and will let you know as soon as I had a chance. I hope to get to it in the next days.

[2019-03-29 21:37] barry-hueston-IBM commented on #16
The fix for this issue has been released within the 2.4.4 version of the Java SDK.  Please confirm if this release resolves your issue.

[2019-04-01 09:10] elder-cb commented on #16
Tested again with the sample code after updating the dependency version: it now works fine, thank you! :)

[2019-04-01 09:23] runnerpaul commented on #16
close #16

[2019-04-01 09:25] #16 closed

[2019-04-02 11:15] philip-fox opened #17 "Migration from 2.3.2 to 2.4.x requires AmazonS3Client's UploadPartRequest parameter's inputStream implement a working reset()"
We (IBM GHHS Analytics team, Dublin, Ireland) are using 2.3.2's `AmazonS3Client#upload` with an `UploadPartRequest` parameter whose `inputStream` is an extended `java.io.InputStream` in which we override its `read()`; its `mark()` and `reset()` remains unmolested. Therefore, its `reset()` is:

[code]

This was fine in 2.3.2, but it seems that in 2.4.0 onwards, you introduced [a change](https://git

[2019-04-02 14:32] philip-fox commented on #17
This is the section of `AmazonS3Client.java` code that's causing the problem:
[code]
It's my understanding that if you want to call `reset()` on an `InputStream`, you are pre-required to ensure that `markSupported()` returns `true`,  which it does not in the case of `java.io.InputStream`.

From the API documentation of [java.io.InputStream#reset](https://docs.oracle.com/javase/7/docs/api/java/io/I

[2019-04-02 14:54] barry-hueston-IBM commented on #17
Hi @philip-fox will are investigating this issue and will give you an update ASAP.

[2019-04-02 15:23] philip-fox commented on #17
@barry-hueston-IBM Thanks Barry. As a workaround, we're calling `UploadPartRequest.setCalculateMD5(false)` to bypass that `if` statement shown in https://github.com/IBM/ibm-cos-sdk-java/issues/17#issuecomment-479024703, and that seems to work.

[2019-04-03 07:44] runnerpaul commented on #17
@philip-fox a fix for a different issue(https://github.com/IBM/ibm-cos-sdk-java/issues/16) was added to version 2.4.4. It should also fix your issue.

Please check and confirm.

[2019-04-03 08:59] smcgrath-IBM commented on #13
Hi @Hendrik-H any update on the solution I provided?

[2019-04-03 09:19] Hendrik-H commented on #13
@smcgrath-IBM yes, I can confirm that my problem gets resolved that way. Is that the final resolution or just a work around? What's the exact semantics of that options? I could not really find any documentation explaining what effects it has.

[2019-04-03 09:31] smcgrath-IBM commented on #13
Thats good news. Setting ExpectContinue to false ensures a new tcp connection with the server for each request. If this solution works for you, let me know if we can close out this issue.

[2019-04-03 09:35] Hendrik-H commented on #13
So that will have a negative performance impact. As a work around that's ok but I don't consider that to be a fix. Clearly there is something wrong in the state handling of client.

[2019-04-03 09:58] philip-fox commented on #17
@runnerpaul I'm afraid I was using v2.4.4 and still experienced the problem.

In a nutshell, I think the problem is that this code is being invoked on an input-stream that doesn't support mark/reset:

[code]
Therefore, the line `isCurr.reset();` throws the IOException.

As a workaround, I was calling `UploadPartRequest.setCalculateMD5(false)` in my own code, so that that if-statement shown above w

[2019-04-03 12:46] cmuchinsky commented on #17
To preserve the ability to read ahead and get the hash regardless if what type of `InputStream` is used, perhaps `UploadPartRequest.setInputStream` could check `markSupported()` and if necessary wrap the given `InputStream` with a `BufferedInputStream` that buffers enough to get the hash.

[2019-04-03 15:04] smcgrath-IBM commented on #13
@Hendrik-H this is been investigated from the server side. I will leave this issue open and advise you when a solution is in place instead of the work around.

[2019-04-04 10:57] philip-fox commented on #17
@barry-hueston-IBM @runnerpaul @cmuchinsky
This has now become a blocker for us, because the hack-change I made to our code described in https://github.com/IBM/ibm-cos-sdk-java/issues/17#issuecomment-479422656 isn't acceptable to our team (i.e. uploading file-parts without the MD5 check being performed).

**Can this ticket be raised to blocker level please and be treated with urgency?**

[2019-04-04 11:40] barry-hueston-IBM commented on #17
Hi @philip-fox , we are looking at this now, as a priority.

[2019-04-04 14:00] smcgrath-IBM commented on #17
Hi @philip-fox Im in the process of recreating this issue. Is the exception preventing uploads for you? From reading through the block of code the exception is caught on the `reset()` & the stacktrace printed.

[2019-04-04 14:17] philip-fox commented on #17
@smcgrath-IBM Yes it's preventing uploads when we use the later JARs (v2.4.x). Our security team here has mandated that we use these later JARs. In our code, when we it starts the upload of a part, our logs show the stacktrace mentioned in https://github.com/IBM/ibm-cos-sdk-java/issues/17#issue-428167010.

[2019-04-04 14:22] smcgrath-IBM commented on #17
yes, Id expect to see the stacktrace in the logs, which is not ideal & can be tidied with a call on `isCurr.markSupported()` as suggested. Can you send on logs following the stacktrace?

[2019-04-04 14:33] philip-fox commented on #17
@smcgrath-IBM
- Just curious, in v2.3.2, were you doing the MD5 check on the parts?
- It seems to me that the if-statement in your `AmazonS3Client.java` I mentioned above, and the call to `reset()`, are used for calculating the MD5.
- So I'm wondering, if we continue to use an InputStream that doesn't support mark/reset, then the MD5 won't be calculated by your AmazonS3Client, right?

This is part

[2019-04-04 15:31] smcgrath-IBM commented on #17
@philip-fox Im chasing down the history of the change myself, I'll get back to you on that.

For the log above, did you run that with `UploadPartRequest.setCalculateMD5(false)`? If so, can you run without setting to false? It looks like the request was made, but failed on the api side.
I would expect the request to run even with the IOException stacktrace. Can you run as described & send on logs i

[2019-04-04 15:53] philip-fox commented on #17
@smcgrath-IBM That log is from a run without calling `UploadPartRequest.setCalculateMD5(x)` at all, whether `x` is `true` or `false`.

Therefore,  the `com.ibm.cloud.objectstorage.services.s3.model.UploadPartRequest`'s instance variable, `com.ibm.cloud.objectstorage.services.s3.model.UploadPartRequest#isCalculateMD5` remains set to `true` because this is how it's declared in `com.ibm.cloud.objects

[2019-04-04 16:38] philip-fox commented on #17
@smcgrath-IBM
I'm looking at [v2.3.2 AmazonS3Client.java](https://github.com/IBM/ibm-cos-sdk-java/blob/600790833297c1fe87aff89eae86e9b5181022a9/ibm-cos-java-sdk-s3/src/main/java/com/ibm/cloud/objectstorage/services/s3/AmazonS3Client.java) and [v2.4.4 AmazonS3Client.java](https://github.com/IBM/ibm-cos-sdk-java/blob/7b79e73214f83387af83e45a15d3e3badd780d1a/ibm-cos-java-sdk-s3/src/main/java/com/ibm/

[2019-04-05 11:38] barry-hueston-IBM commented on #17
Tracking internally with the ticket CSAFE-53246

[2019-04-05 12:48] smcgrath-IBM commented on #17
@philip-fox MD5 is calculated on the fly on the client side based the return eTag value. The addition within 2.4.4 sends a `Content-MD5` header for server side validation also. We can workaround the stacktrace, but I would like to know why the MD5 check is failing. Can you run a number of requests in debug mode & send through a complete log file?

[2019-04-08 06:57] BhuvanaAdhi commented on #6
@ichabondcrane - I too receive the  java.lang.ExceptionInInitializerError when running a domino java agent. Can you please advise the steps to be followed to resolve the error.

[2019-04-08 09:12] BhuvanaAdhi opened #18 "java.lang.IllegalArgumentException"
Hi, I am trying to connect to IBM Cloud Object Storage using domino java agents. Receiving the below error on initializing the ClientConfiguration. Same code with all the dependent jars runs on eclipse interface.

Exception in thread "AgentThread: JavaAgent" java.lang.ExceptionInInitializerError
	at java.lang.J9VMInternals.ensureError(J9VMInternals.java:146)
	at java.lang.J9VMInternals.recordIniti

[2019-04-08 09:51] smcgrath-IBM commented on #18
Hi @BhuvanaAdhi can you provide an example of your code, removing any credentials?

[2019-04-08 10:31] BhuvanaAdhi commented on #18
import java.util.List;

import com.ibm.cloud.objectstorage.ClientConfiguration;
import com.ibm.cloud.objectstorage.SDKGlobalConfiguration;
import com.ibm.cloud.objectstorage.SdkClientException;
import com.ibm.cloud.objectstorage.auth.AWSCredentials;
import com.ibm.cloud.objectstorage.auth.AWSStaticCredentialsProvider;
import com.ibm.cloud.objectstorage.client.builder.AwsClientBuilder.EndpointConfi

[2019-04-10 12:15] mariobriggs opened #19 "Question - Async programming with java sdk"
Hi,

Does the library support async put operations like the 2nd example in this AWS link

https://docs.aws.amazon.com/sdk-for-java/v2/developer-guide/basics-async.html

thanks in advance

[2019-04-10 13:39] smcgrath-IBM commented on #19
Hi @mariobriggs we currently do not support async requests on the s3 Client. But the TransferManager has that ability, like below;

`TransferManager transferManager = TransferManagerBuilder.standard().withS3Client(CLIENT).build();
Upload upload = transferManager.upload(putRequest);
upload.waitForUploadResult();`

[2019-04-10 15:17] smcgrath-IBM commented on #13
@Hendrik-H, just an update, an issue has been found on the load balancer with how it interacts with the application server at a packet level. Work is in progress to resolve.

[2019-04-10 15:23] Hendrik-H commented on #13
@smcgrath-IBM awesome! guess it will make testing a bit hard for me but as you have the full test code you should be able to verify that once you have a version with the fix setup.

[2019-04-11 07:09] mariobriggs commented on #19
@smcgrath-IBM thanks. It works great 👍

[2019-04-11 07:44] smcgrath-IBM commented on #19
Thats good. I'll close off the issue

[2019-04-11 07:44] #19 closed

[2019-04-11 13:34] BhuvanaAdhi commented on #18
Actually, I am trying to connect to IBM Cloud from lotus notes database using java agents (In domino). I am loading the jars directly in the agent in archive folder.

[2019-04-15 13:11] smcgrath-IBM commented on #18
@BhuvanaAdhi if the code works fine on your Eclipse IDE, but not on notes, it is likely a class loading issue. What java version & vendor are you running on your environment?

[2019-04-16 11:16] QiAnXinCodeSafe opened #20 "xxe"
HI！
I found that there are many places in ibm-cos-sdk-java that handle xml without disabling xml external entities, which may lead to xml external entity injection vulnerability.Take XmlUtil.java as an example：
![图片](https://user-images.githubusercontent.com/39950310/56205262-d908fe80-607b-11e9-9dd5-df0a5e3922dc.png)
The same problem still exists elsewhere：
parseRegionMetadata.java  lline 118 ;
Xp

[2019-04-16 20:35] barry-hueston-IBM commented on #20
Internal ticket reference: CSAFE-54086

[2019-04-18 14:53] philip-fox commented on #17
For clarity, I supplied @smcgrath-IBM with a test application with which he can reproduce the problem.

[2019-04-18 14:57] smcgrath-IBM commented on #17
@philip-fox I haven't received the test app. Can you zip it up & drop it on the github page?

[2019-04-24 09:09] barry-hueston-IBM commented on #18
@BhuvanaAdhi, can we close this issue, please?

[2019-04-29 12:43] #18 closed

[2019-05-01 11:10] smcgrath-IBM commented on #17
@philip-fox release 2.4.5 went live overnight, this should address your issue. Let me know when you have tried. thx

[2019-05-01 13:00] philip-fox commented on #17
@smcgrath-IBM I've just tried it: it works. Great, thanks for that. I'll close this ticket. I'll ping you on Slack.

[2019-05-01 13:00] #17 closed

[2019-05-06 16:35] rveitchIBM opened #21 "Test issue"
This is a test issue

[2019-05-06 17:14] rveitchIBM commented on #21
Test comment

[2019-05-06 17:37] #21 closed

[2019-05-14 09:21] smcgrath-IBM commented on #20
@360CodeSafe how are you analysing the code? I see an issue within XpathUtils.java which needs patched and the related classes which use it. Howevere parseRegionMetadata & parseXmlInputStream are more difficult to determine

[2019-05-14 18:31] reedcozart opened #22 "IBM AppScan issues in COS SDK"
We use IBM COS java SDK in one of our applications, and recently we ran IBM AppScan against our code base, and it looks like it is picking up several issues located in the IBM COS SDK. I have attached screenshots of several of these issues and traces here.
[CloudObjectStorage_ASOC_Screenshots.zip](https://github.com/IBM/ibm-cos-sdk-java/files/3179265/CloudObjectStorage_ASOC_Screenshots.zip)

[2019-05-15 01:38] 360CodeSafe commented on #20
We use the internal static code auditing tool (Qianxin Code Guardian) to do static code analysis and then manually review it.

The following is the data flow of our engine analysis：
1.parseRegionMetadata.java:
![图片](https://user-images.githubusercontent.com/39950310/57742649-95de9180-76f4-11e9-9c58-84bf58f0300e.png)
![图片](https://user-images.githubusercontent.com/39950310/57742658-a262ea00-76f4-11

[2019-05-16 07:20] paul-carron commented on #22
@reedcozart we will investigatee these issues.

[2019-05-21 08:49] barry-hueston-IBM commented on #22
Internal ref: CSAFE-55540

[2019-05-23 09:59] runnerpaul commented on #22
@reedcozart this SDK is an AWS fork so we can't easily make changes. We can log the scan result with AWS but beyond that there's very little we can do.

[2019-05-28 08:07] runnerpaul commented on #22
@reedcozart would it be possible to run that scan against the AWS sdk? I'll then use those results to open an issue with AWS.

[2019-05-29 13:09] runnerpaul commented on #22
#close

[2019-05-29 13:16] #22 closed

[2019-06-13 20:52] cloudpitchford opened #23 "Link in README for Code Examples is broken"
Chris.Pitchford@ibm.com here. I found this: * [Code Examples](https://cloud.ibm.com/docs/services/cloud-object-storage?topic=cloud-object-storage-using-java#examples)

Where the link: https://cloud.ibm.com/docs/services/cloud-object-storage?topic=cloud-object-storage-using-java#examples

should be: https://cloud.ibm.com/docs/services/cloud-object-storage?topic=cloud-object-storage-java#java-exampl

[2019-06-14 10:22] barry-hueston-IBM commented on #23
Internal Reference: CSAFE-56603

[2019-06-14 13:42] cloudpitchford commented on #23
Thanks!
 
Chris Pitchford (Contractor)
E-mail: chris.pitchford@ibm.com
Mobile: 303.726.0787
 
 
----- Original message -----From: barry-hueston-IBM <notifications@github.com>To: IBM/ibm-cos-sdk-java <ibm-cos-sdk-java@noreply.github.com>Cc: "Chris Pitchford (Public)" <chris.pitchford@ibm.com>, Author <author@noreply.github.com>Subject: [EXTERNAL] Re: [IBM/ibm-cos-sdk-java] Link in README for Code E

[2019-06-19 10:51] barry-hueston-IBM commented on #20
@QiAnXinCodeSafe  this issue has been resolved in the latest release of the SDK, version 2.5.0. Please review and let us know if this issue can be closed.

[2019-06-21 14:43] #20 closed

[2019-06-24 11:11] smcgrath-IBM commented on #23
Hi @cloudpitchford this link was fixed in the 2.5.0 release. Can you check latest release & close this issue if all ok?

[2019-06-24 13:03] cloudpitchford commented on #23
Thanks! I just checked.

[2019-06-24 13:03] #23 closed

[2019-07-01 12:42] bvinoth186 opened #24 "IBM COS Issue with proxy configuration"
Hi,

I’m using ibm-cos-java-sdk version 2.5.0.  I’m unable to access the buckets in company vpn. I have tried enabling proxy configuration with both BasicAWSCredentials as well as BasicIBMOAuthCredentials.  I always get authenticationrequired with request id as null.  Same code works well in public network.  I was going through the issues found that this issue was already raised and addressed 2.4.

[2019-07-01 12:44] bvinoth186 commented on #24
Previous issue on the same subject

https://github.com/IBM/ibm-cos-sdk-java/issues/12

[2019-07-01 14:34] smcgrath-IBM commented on #24
Hi @bvinoth186 the previous issue was specific to IAM authentication & is now resolved. Your issue is different as both authentication mechanisms are failing.

I think it is environmental, possibly your proxy server is not forwarding authorization headers. Can you get your network team to trace which headers are been sent from your proxy server, compare the difference from the requests sent locall

[2019-07-01 17:23] bvinoth186 commented on #24
Hi, Thanks for the update.  It could be our proxy server.  Is there anyway that we could see what is being to sent in logs?  I understand there is proxy server in the middle.  I would want to have the data in hand before i engage our network team.  Any inputs would be helpful.

[2019-07-02 11:35] seamy49 commented on #24
If you have log4j configured in your classpath you will get SDK logs. But for raw http requests I would recommend a local http sniffer tool or mitm proxy, you will need to use non secure endpoints also unless you install the certs.

[2019-07-03 01:05] bvinoth186 commented on #24
Thanks I will try with local proxy option and get back here.

[2019-07-03 09:45] bvinoth186 commented on #24
i'm able to connect to IBM COS via local Fiddler proxy server.  This issue can be closed. Thanks for the support and inputs

[2019-07-03 09:47] smcgrath-IBM commented on #24
Thanks for the update

[2019-07-03 09:47] #24 closed

[2019-07-12 16:50] ahbrown1 opened #25 "Test issue #1"
Test issue for CSP integration

[2019-07-12 16:52] ahbrown1 commented on #25
a comment

[2019-07-17 08:34] #25 closed

[2019-07-23 23:15] barry-hueston-IBM commented on #13
Hi @Hendrik-H,
This ticket has been open quite some time and as the underlying issue is not directly related to the code within the SDK, I would like to close this issue.
The issue has been root caused to a component outside of the SDK, and discussions are underway with the vendor on the issue and possible fix. At this time we don't foresee any SDK needs to address this issue and there is no value

[2019-07-24 14:46] #13 closed

[2019-10-09 20:11] pwinckles opened #26 "Remove split packages"
The library cannot be used out of the box in modularized projects (Java 9+) because `ibm-cos-java-sdk-core` and `ibm-cos-java-sdk-s3` both export the package `com.ibm.cloud.objectstorage.auth`, which Jigsaw does not allow.

[2019-10-10 11:11] stephenskinner commented on #26
I'll investigate this and get back to you soon.

[2019-10-10 14:31] pwinckles commented on #26
Thanks!

Here's the workaround to get the current library working with Jigsaw in a Maven based project.

[code]

[2019-10-21 14:19] stephenskinner commented on #26
Hi @pwinckles,
Thanks for the workaround.
For the main issue, I've found [this AWS Java SDK ticket](https://github.com/aws/aws-sdk-java/issues/1658) which is the same issue. As the IBM Java SDK is a branch of the AWS SDK, if Amazon fix the issue we will port this fix to our SDK. We are not planning on diverging from the AWS SDK and fixing this issue separately.
In our roadmap we are also planning

[2019-10-24 10:42] stephenskinner commented on #26
Hi @pwinckles,
I've actioned the above items, if there is anything further you need help with please let me know, otherwise I'll close this ticket soon.

[2019-10-24 11:37] pwinckles commented on #26
Yes, that's fine. You can close the ticket. Will the AWS V2 client ever be an option to use?

[2019-10-24 12:39] stephenskinner commented on #26
Unlikely, there are no plans at present for AWS V2. Thanks for the quick response, I'll close this ticket.

[2019-10-24 14:21] #26 closed

[2019-11-06 17:04] FcoJavierSainz opened #27 "Add Non-blocking support Java SDK"
Have a reactive-streams compatible interface (non-blocking) similar to AWS https://aws.amazon.com/es/blogs/developer/aws-sdk-for-java-2-x-released/

[2019-11-07 17:22] rtveitch commented on #27
The v2 AWS Java SDK is on our radar as a potential future project, but we do not have any current plans for it at this time. Will mark as closed for now and revisit if the situation changes.

[2019-11-07 17:22] #27 closed

[2019-11-07 17:30] FcoJavierSainz commented on #27
I was playing with AWS SDK but IBM COS does not support uploads without the file size, which when you streaming the file is not easy to get the final size

[2019-12-16 19:15] pwinckles opened #28 "COS client cannot handle common special characters"
The COS client errors out when I try to put objects with keys that contain the `=` character. I understand from the [Amazon documentation](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html) that there are certain characters that may cause problems. However, the Amazon SDK v1 that your client is a fork of is able to correctly handle the `=` character.

[2019-12-18 14:32] pwinckles commented on #28
Here's some additional information. I'm using version 2.6.0 of the client. Here's an example stacktrace:

[code]

That was produced by executing the following:

[code]

There is nothing wrong with the keys. Executing the same request without the `=` works fine.

[2019-12-19 17:10] stephenskinner commented on #28
Hi,
I've not been able to reproduce this error, I can successfully run putObject with the key containing an = and get a 200 response.
I can provide some code (with HMAC auth) if you need it. Are you able to provide the code that is throwing an exception?

[2019-12-19 17:36] stephenskinner commented on #28
Hi,
The standard putObject is working fine with 2.6.0, can you provide the code you are using to initialise the client please? The error points to an issue with signing the request.

[2019-12-19 17:39] pwinckles commented on #28
[code]

[2019-12-19 17:40] pwinckles commented on #28
The same request works using the same client when there is no `=` in the key.

[2020-01-10 22:37] rtveitch commented on #28
The following script appears to work against the `us-south` region, using your suggested client configuration.

[code]

Output is:

[code]

<img width="1012" alt="Screen Shot 2020-01-10 at 4 26 24 PM" src="https://user-images.githubusercontent.com/25228001/72190785-09d95280-33c6-11ea-81b0-a03b5f2ec09c.png">

@pwinckles can you compare this against your full script and let us know if you spot any d

[2020-01-10 22:52] pwinckles commented on #28
@rtveitch I'll try it out on Monday. I'll also do a test with Java 8.

One thing to note, I am using an on premise, private cloud storage install and not the public cloud.

[2020-01-13 14:52] pwinckles commented on #28
@rtveitch I ran your code (identical except for the different endpoint) and it doesn't work:

[code]

[2020-01-13 15:15] pwinckles commented on #28
I turned on wire logging.

Here is the wire log for the request that does not work:

[code]

Here is the wire log for the same request where the object key is URL encoded first (`URLEncoder.encode("0=ocfl_1.0", StandardCharsets.UTF_8`):

[code]

Probably of most interest is the url. The request that doesn't work is executing `PUT /[BUCKET]/0=ocfl_1.0 HTTP/1.1` and the request that "works" (I don't

[2020-01-13 15:29] pwinckles commented on #28
What's the url for your requests that work? It's odd to me that the key `0=ocfl_1.0` is NOT url encoded in my request that fails.

[2020-01-13 21:31] rtveitch commented on #28
I think the url encoding might not be the actual problem. Here's the output from my request which succeeds:

[code]

[2020-01-13 21:34] pwinckles commented on #28
Great, thanks! We'll open a different ticket to try to figure out what's going on with our private cloud.

[2020-01-13 21:36] #28 closed

[2020-01-21 06:45] mrmadira opened #29 "mvn install error on ibm cos sdk"
git clone https://github.com/IBM/ibm-cos-sdk-java
cd ibm-cos-sdk-java/
mvn clean install

[code]

[2020-01-21 06:46] mrmadira commented on #29
Not sure if it is connected but building stocator which is dependent on ibm-cos-sdk also fails

git clone https://github.com/SparkTC/stocator
cd stocator
git checkout -b 1.0.37-ibm-sdk  origin/1.0.37-ibm-sdk
mvn clean install -Pall-in-one -DskipTests -Dcheckstyle.skip

[code]

[2020-01-21 16:21] mrmadira commented on #29
I tried on two different systems - here are the mvn versions.

[code]

[code]

[2020-01-23 06:48] mrmadira commented on #29
@kellerbr-ibm  - any further help on this?

[2020-01-24 06:36] mrmadira commented on #29
https://stackoverflow.com/questions/59764749/requests-to-http-repo1-maven-org-maven2-return-a-501-https-required-status-an

Found and fixed the issue at my end.

[2020-01-24 06:36] #29 closed

[2020-04-14 03:16] juanlabrador opened #30 "NoClassDefFoundError: Failed resolution of: Ljavax/management/MBeanServerFactory;"
When init Amazons3Client
[code]

[code]

implementation 'com.ibm.cos:ibm-cos-java-sdk-s3:2.6.1'
implementation 'com.ibm.cos:ibm-cos-java-sdk-core:2.6.1'

Thanks!

[2020-04-14 22:06] juanlabrador commented on #30
This case  https://stackoverflow.com/questions/58167829/awss3-client-throws-error-on-initialization  but was with AWS, so, no working with COS, but it's the same problem

[2020-04-16 18:26] juanlabrador commented on #30
This crashed when AmazonS3ClientBuilder is build().

[2020-04-17 03:18] juanlabrador commented on #30
Need support to Android :(

[2020-04-20 14:35] rtveitch commented on #30
Yes this SDK does not support Android, only Desktop/Server.

[2020-04-27 14:46] #30 closed

[2020-06-25 22:19] FcoJavierSainz commented on #27
Hi, any news?

[2020-07-06 18:08] rtveitch commented on #27
None yet, v2 sdk is in our backlog to investigate, but no specific plans at the moment.

[2020-08-21 15:16] balajikadambi opened #31 "InvalidLocationConstraint error while creating a bucket with encryption"
Hi, I was using the Java COS SDK to create a bucket with encryption. I get the following error:
Creating new encrypted bucket: my-bucket
com.ibm.cloud.objectstorage.services.s3.model.AmazonS3Exception: Container storage location with specified provisioning code not available (Service: Amazon S3; Status Code: 400; Error Code: InvalidLocationConstraint; Request ID: ce462457-1e9a-4e10-b8a1-e0fb9c4024

[2020-08-23 12:48] #31 closed, assigned to nobody

[2020-08-24 12:28] typeness commented on #31
@balajikadambi I am encountering the same issue. What did you change the URL for?

[2020-08-24 15:36] balajikadambi commented on #31
@typeness I had the endpoint URL for us-south wrong, and got the error. I used the endpoint URLs mentioned here and it worked - https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-endpoints.

[2020-09-02 05:27] balajikadambi commented on #31
@typeness au-syd region still gives the same error for me. The endpoint is correct but still get InvalidLocationConstraint error. Have raised an issue with IBM Cloud support.

For us-south, the code works fine.

[2020-09-02 08:01] typeness commented on #31
@balajikadambi what helped me is setting the region not only for S3 client creation but also for bucket creation, see https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-java#java-examples-storage-class

[2020-10-20 15:29] Msnopczy opened #32 "Error messages states it's Amazon S3 error."
I'm getting error as below:
`Invalid username or password: Amazon s 3 error: The AWS Access Key ID you provided does not exist in our records. `

Are there any plans to map those kind of errors to COS errors?

[2020-10-20 18:01] sandersrIBM commented on #32
This issue is being tracked internally.  Closing issue.

[2020-10-20 18:01] #32 closed

[2020-11-17 12:58] buddhadevdg opened #33 "SAST: Cryptography.NonStandard"
**Description**
The application uses a non-standard cryptographic algorithm. Cryptographic algorithms are the methods by which data is scrambled. There are a small number of well understood and heavily studied algorithms that should be used by most applications. It is quite difficult to produce a secure algorithm, and even high profile algorithms by accomplished cryptographic experts have been bro

[2020-11-17 12:59] buddhadevdg commented on #33
<img width="957" alt="IBM_COS_APP_SCAN_Issue" src="https://user-images.githubusercontent.com/7752521/99393104-da0eab80-2902-11eb-9b30-999ebbdf9254.png">

[2020-11-17 13:01] buddhadevdg commented on #33
![COS_App_scan_Issue](https://user-images.githubusercontent.com/7752521/99393267-1cd08380-2903-11eb-85f3-b81c529f78b3.png)

[2020-11-20 17:47] sandersrIBM commented on #33
The ibm-cos-sdk-java is a fork of the AWS SDK for Java (version 1).

So, your scanning tool identified a “problematic” line, but it is right from (even) the most recent version of the AWS Java for SDK https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-s3/src/main/java/com/amazonaws/services/s3/internal/crypto/CipherLite.java#L70.

Looking around at this code, it implies (at least to me)

[2020-11-20 18:19] buddhadevdg commented on #33
thanks for the update @sandersrIBM , closing this ticket as it is now also tracked internally [https://jira.ad.cleversafe.com:8443/browse/CSAFE-77338](https://jira.ad.cleversafe.com:8443/browse/CSAFE-77338)

[2020-11-20 18:19] #33 closed

[2020-12-07 11:52] cmuchinsky opened #34 "Shaded version of Apache HttpClient affected by CVE-2020-13956"
The version of Apache HttpClient (`4.5.9`) that is shaded within the `bundle` is affected by [CVE-2020-13956](https://nvd.nist.gov/vuln/detail/CVE-2020-13956) and is affecting security scans for components that embed the `bundle` jar.

[2020-12-08 13:03] cmuchinsky opened #35 "Shaded version of Jackson Databind affected by CVE-2020-25649"
The version of Jackson Databind (`2.10.2`) that is shaded within the `bundle` is affected by [CVE-2020-25649](https://nvd.nist.gov/vuln/detail/CVE-2020-25649) and is affecting security scans for components that embed the `bundle` jar.

[2020-12-21 10:12] tcherel commented on #35
Any chances to get a fix for this or an official statement saying that ibm-cos-sdk-java is not affected?

[2020-12-21 10:12] tcherel commented on #34
Any chances to get a fix for this or an official statement saying that ibm-cos-sdk-java is not affected?

[2021-01-04 16:50] IBMeric commented on #34
This notice came in after the code freeze for our latest release. At the time I did try making these as last-minute updates, but there were several test failures that we did not have time to investigate. We are tracking this internally.

[2021-01-04 16:50] IBMeric commented on #35
This notice came in after the code freeze for our latest release. At the time I did try making these as last-minute updates, but there were several test failures that we did not have time to investigate. The upstream AWS project still uses an even older version for Java 6 compatibility, which may be a complicating factor. We are tracking this internally.

[2021-01-11 22:32] tcherel commented on #35
Thanks @IBMeric
Is there a way to determine if ibm-cos-sdk-java is exposed to the CVE-2020-25649 vulnerability?
If it is exposed or if there is no easy way to know, any ETA as when a new version might be available with an updated version of jackson databind?

[2021-01-12 16:53] IBMeric commented on #35
We inherit the jackson-databind dependency from the upstream AWS S3 SDK. The AWS S3 stance is that they are not vulnerable to several CVEs as evidenced here: https://github.com/aws/aws-sdk-java/issues/2096. We will address it as soon as AWS S3 addresses it and makes a release available, or if we are able to do it independent of them without uncovering issues in this quarter.

[2021-01-17 13:59] tcherel commented on #35
@IBMeric seems that AWS S3 SDK v2 has already addressed this issue: https://github.com/aws/aws-sdk-java-v2/issues/2207
Can we use that?

[2021-02-26 10:41] tcherel commented on #35
@IBMeric any updates? Thanks

[2021-03-01 14:25] barvek opened #36 "Shaded version of Jackson Dataformat affected by CVE-2020-28491"
The version of jackson-dataformat-cbor(2.10.0) that is shaded within the bundle is affected by [CVE-2020-28491](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-28491)  and is affecting security scans for components that embed the bundle jar.

[2021-03-01 15:17] IBMeric commented on #36
Thank you for your report. This has already been fixed and will appear in our mid-March release.

[2021-03-01 15:18] IBMeric commented on #35
@tcherel This has already been fixed and will appear in our mid-March release.

[2021-03-01 15:19] barvek commented on #36
Thanks for the update.

[2021-03-01 15:20] IBMeric commented on #34
This item has already been fixed and will appear in our mid-March release.

[2021-03-01 16:31] tcherel commented on #35
This is excellent news. Thanks @IBMeric

[2021-03-01 16:33] tcherel commented on #34
This is excellent news. Thanks @IBMeric

[2021-03-11 16:53] everlylfc opened #37 "IAM Token retrieval in DefaultTokenProvider does not honor provided client settings"
I was having trouble applying connection timeouts to the overall flow of the code despite providing explicit values for client configuration which includes a connection timeout setting on the token provider, token manager, and the amazons3 client builder.

[code]

I pulled the source code and changed this section to explicitly set a request config to test if this was the issue:
https://github.com/

[2021-03-16 13:49] IBMeric commented on #36
This issue has been resolved in 2.9.1.

[2021-03-16 13:49] #36 closed

[2021-03-16 13:49] IBMeric commented on #35
This issue has been resolved in 2.9.1.

[2021-03-16 13:49] #35 closed

[2021-03-16 13:49] IBMeric commented on #34
This issue has been resolved in 2.9.1.

[2021-03-16 13:49] #34 closed

[2021-03-16 20:29] IBMeric commented on #37
Thank you for your report and investigation. We have an internal ticket tracking this item.

[2021-03-25 12:53] tcherel opened #38 "PRISMA-2021-0055 vulnerability in latest ibm-cos-java-sdk-bundle-2.9.1.jar"
We are getting a vulnerability report on ibm-cos-java-sdk-bundle-2.9.1.jar about the shaded commons-codec 1.11 dependency that should be upgraded to 1.13 or higher.
I am not able to find much details about what PRISMA-2021-0055 is.
Is it possible to schedule an update of commons-codec to 1.13 or to the latest version so it is current?
Thanks.

[2021-03-25 18:25] IBMeric commented on #38
Could you provide more details on the vulnerability report? Could that number be a tool-specific reference?

There is an upstream issue on this topic: https://github.com/aws/aws-sdk-java/issues/125. The only reference to `commons-codec` is the main `pom.xml`. No version is listed, so there is nothing to update. We already updated `HttpClient` to 4.5.13 (the latest) as part of our recent release.

[2021-03-29 12:33] tcherel commented on #38
Thanks @IBMeric
Yes, it is a tool specific reference and I am still trying to get the details from the vendor.
But I suspect that this is related to the known commons-codec 1.11 vulnerability described here: https://issues.apache.org/jira/browse/HTTPCLIENT-2072

ibm-cos-java-sdk-bundle-2.9.1.jar contains the META-INF/maven/commons-codec/commons-codec/pom.xml file which makes an explicit reference

[2021-05-28 08:52] tcherel commented on #38
@IBMeric any update about this?
The latest main pom.xml for aws-sdk-java is defining an explicit codec version to be be 1.15, see https://github.com/aws/aws-sdk-java/blob/master/pom.xml#L342
I am not clear as why ibm-cos-sdk is still referencing coded 1.11
Thanks.

[2021-05-28 16:47] IBMeric commented on #38
Thanks for the link. That change was made after this ticket was opened. We can include it in our next release. Do you know if this will satisfy your scanner?

[2021-05-28 20:54] tcherel commented on #38
@IBMeric yes, I am confident that it will.
Even if we did not manage to find a lot of details about PRISMA-2021-0055, the scanner explicitly says that the issue is fixed in commons-codec 1.13 or higher.
We have other packages that are using commons-codec 1.13, 1.14 or 1.15 and none of them are flagged by the scanner.
Do you have an ETA (even a rough one) for the next release where this could be fi

[2021-06-01 15:05] muhammadsalah opened #39 "IBM COS SDK Java Examples are not working provide a 400 Invalid Argument Error"
Please refer to the following two gists I have created based on the referenced Java Code Examples.

https://gist.github.com/muhammadsalah/fc0a510ea8aa86c5a4f5b390c0394be6

https://gist.github.com/muhammadsalah/e3b3e21212b0e551e1f662f911ef1fd4

Whenever I execute the test, provided I have inserted the proper credentials, and I can inspect my token in the debugger.

I am using IBMOAuthCredentialsPro

[2021-06-01 15:07] nglange commented on #39
Thanks for raising this issue - I'll verify and update the documentation. Did you end up altering it and getting it to work?

[2021-06-01 15:12] muhammadsalah commented on #39
@nglange I could not get around it, and I think my viable alternative is to use the REST directly.

[2021-06-01 19:18] nglange commented on #39
I don't suppose you'd be able to capture the outgoing request via Wireshark or other similar tool?  I feel like something in the request is getting mangled in the model import but I can't be sure.

[2021-06-01 19:25] muhammadsalah commented on #39
@nglange I will capture the data for you via Wireshark, and report back

[2021-06-02 10:55] muhammadsalah commented on #39
@nglange I have captured the packets using wireshark.
I also filtered them according to the IP which resolved with the Bucket Endpoint.
I ran the code twice, same result in the flight record.
Can you advise a way for me to send you the packet trace?
I can not share this on the tracker, thank you.

[2021-06-02 13:59] nglange commented on #39
For sure - you can contact me by email: `nicholas.lange[at]ibm.com`.

[2021-06-02 14:32] muhammadsalah commented on #39
@nglange I have sent you via email the packets.

[2021-06-04 12:06] JyothiBacham opened #40 "SAST : CrossSiteScripting"

[2021-06-04 12:12] JyothiBacham commented on #40
<img width="1152" alt="Screen Shot 2021-06-04 at 5 39 11 PM" src="https://user-images.githubusercontent.com/43532217/120799286-28f8f700-c55c-11eb-9a60-c217d402775a.png">
<img width="1016" alt="Screen Shot 2021-06-04 at 5 35 44 PM" src="https://user-images.githubusercontent.com/43532217/120799305-2eeed800-c55c-11eb-8892-4385ca60fb46.png">

[2021-06-04 13:46] JyothiBacham commented on #40
<img width="958" alt="Screen Shot 2021-06-04 at 5 41 30 PM" src="https://user-images.githubusercontent.com/43532217/120799565-8a20ca80-c55c-11eb-9e05-a8baf0c44727.png">
<img width="746" alt="Screen Shot 2021-06-04 at 5 41 49 PM" src="https://user-images.githubusercontent.com/43532217/120799576-8ee57e80-c55c-11eb-9bb9-be95e0f4c446.png">

[2021-06-07 21:39] IBMeric commented on #40
Thank you for your report. Could you provide more explanation? You cited the description of CVE-2021-31684, a library the SDK does not depend on, and posted screenshots of a call tree for a separate item.

[2021-06-10 00:47] JyothiBacham commented on #40
Hi @IBMeric  .. sorry please ignore the description provided previously.. I have deleted that. There is a risk of CrossSiteScripting at line 132 of AWSsigner is what our AppScan report says. Attaching more details on the risk and recommendations here.

[2021-06-10 00:48] JyothiBacham commented on #40
![image](https://user-images.githubusercontent.com/43532217/121447613-9e792300-c9b3-11eb-9256-f5f36491b2be.png)
![image](https://user-images.githubusercontent.com/43532217/121447630-a5079a80-c9b3-11eb-9cea-03d25039e525.png)

[2021-06-14 05:18] JyothiBacham commented on #40
Hi.. any update on this please

[2021-06-14 05:22] JyothiBacham opened #41 "SAST : Validation.Required"
Validation.Required :

Source: _com.ibm.cloud.objectstorage.ImmutableRequest.getParameters():Map via AmazonHttpClient:1058_
Sink: _com.ibm.cloud.objectstorage.Request.setParameters(Map):void via AmazonHttpClient:1099_

[2021-06-14 05:25] JyothiBacham commented on #41
<img width="593" alt="image" src="https://user-images.githubusercontent.com/43532217/121842963-f939b400-ccfe-11eb-92a4-55b14129e47c.png">

[2021-06-14 05:26] JyothiBacham commented on #41
Hi, our SAST(AppScan) reports this vulnerability from COS jar.. can you please check if this is a valid issue and needs any change..

[2021-06-14 05:29] JyothiBacham opened #42 "SAST : Privacy.DataLeakage"
Privacy.DataLeakage :

Source: _org.apache.http.HttpEntity.getContent():InputStream via CRC32ChecksumResponseInterceptor:78_

Sink: _org.apache.http.protocol.HttpContext.setAttribute(String;Object):void via CRC32ChecksumResponseInterceptor:77_

[2021-06-14 05:29] JyothiBacham commented on #42
<img width="601" alt="image" src="https://user-images.githubusercontent.com/43532217/121843275-8e3cad00-ccff-11eb-88f3-6f1593bf255d.png">

[2021-06-14 05:29] JyothiBacham commented on #42
Hi, our SAST(AppScan) reports this vulnerability from COS jar.. can you please check if this is a valid issue and needs any change..

[2021-06-14 05:30] JyothiBacham commented on #42
<img width="636" alt="image" src="https://user-images.githubusercontent.com/43532217/121843342-add3d580-ccff-11eb-9ac6-2557991170a3.png">

[2021-06-14 05:30] JyothiBacham commented on #42
<img width="638" alt="image" src="https://user-images.githubusercontent.com/43532217/121843379-bdebb500-ccff-11eb-8ef6-7258ac87462e.png">

[2021-06-14 05:32] JyothiBacham opened #43 "SAST : Communications.SSL"
Communications.SSL :
<img width="616" alt="image" src="https://user-images.githubusercontent.com/43532217/121843485-effd1700-ccff-11eb-8b58-fd06395a1779.png">

[2021-06-14 05:33] JyothiBacham commented on #43
<img width="623" alt="image" src="https://user-images.githubusercontent.com/43532217/121843530-0f943f80-cd00-11eb-837c-1e83409cb34b.png">
<img width="604" alt="image" src="https://user-images.githubusercontent.com/43532217/121843545-18851100-cd00-11eb-9936-93654eac1038.png">

[2021-06-14 16:27] IBMeric commented on #38
Sorry for the late reply. The work is scheduled but I haven't been able to get a release commitment internally yet. I will bring this up again today.

[2021-06-14 17:30] IBMeric commented on #40
This issue is present in upstream and is for v3 signatures that COS does not support. Clients should use IAM tokens or v4 signatures.

[2021-06-14 17:30] #40 closed

[2021-06-14 17:30] IBMeric commented on #41
This code is related to upstream metrics collection that COS does not support.

[2021-06-14 17:30] #41 closed

[2021-06-14 17:30] IBMeric commented on #42
This code applies only to the upstream JSON protocol that COS does not support: https://github.com/IBM/ibm-cos-sdk-java/blob/e74a8c118b66299ecdae96ae0174030435d9713f/ibm-cos-java-sdk-core/src/main/java/com/ibm/cloud/objectstorage/http/apache/client/impl/CRC32ChecksumResponseInterceptor.java#L39.

[2021-06-14 17:30] #42 closed

[2021-06-14 17:30] IBMeric commented on #43
The storage service and authentication servers are responsible for authenticating clients. The SDK helps clients write applications to talk to those services. Connections to the public cloud server uses CA certificates.

[2021-06-14 17:30] #43 closed

[2021-06-16 16:57] tcherel commented on #38
Thanks @IBMeric
Any (good) news?

[2021-06-30 18:41] IBMeric commented on #38
We have confirmed the fix and will put it in the next bug fix release. There is another fix in the works, so the plan is to release both together.

[2021-07-02 12:20] tcherel commented on #38
Thanks @IBMeric
Do you have an ETA (even a rough one) for the next bug fix release?

[2021-07-06 20:46] blindenvy commented on #38
Any ETA on this fix?

[2021-07-07 18:33] IBMeric commented on #38
The release will either be this week or early next week.

[2021-07-13 16:29] IBMeric commented on #38
@tcherel We have published 2.10.1. Could you verify your issue has been resolved and close this ticket?

[2021-07-13 21:23] tcherel commented on #38
Thanks @IBMeric
I confirm that 2.10.1 is fixing the security scan issue.
Closing.

[2021-07-13 21:23] #38 closed

[2021-11-24 20:52] komrabethsalo commented on #31
I found that you need to append the service class to the region, for example `us-east-standard`; exactly as @balajikadambi balajikadambi has done above with `au-syd-smart`.

[2021-11-26 17:02] ifs-gaetanlalanne opened #44 "Certificate error causes the token provider to give useless exception stacktrace"
https://github.com/IBM/ibm-cos-sdk-java/blob/736bc712488fe31db0ab8fdbb592aca2b1cd813b/ibm-cos-java-sdk-core/src/main/java/com/ibm/cloud/objectstorage/oauth/DefaultTokenProvider.java#L211

When the exception does not have a cause, it prints this :
Caused by: com.ibm.cloud.objectstorage.oauth.OAuthServiceException: null at com.ibm.cloud.objectstorage.oauth.DefaultTokenProvider.retrieveTokenHelper(De

[2021-12-07 15:52] lee-zhg opened #45 ""mvn clean install" failed"
when execute "mvn clean install" command, it failed with the messages below. What do option 6 and 7 refer? Thank you

[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ ibm-cos-java-sdk-core ---
[INFO] Using 'UTF-8' encoding to copy filtered resources.
[INFO] Copying 1 resource
[INFO] Copying 2 resources
[INFO]
[INFO] --- maven-compiler-plugin:3.6.0:compile (default-compile) @ i

[2021-12-07 17:18] IBMeric commented on #45
Thanks for your message. I believe this is related to the JRE version. What JVM are you building for?

If you are building based on the readme, I just noticed that it is in error. Java 6 may no longer be supported because it has hit EOL. I would recommend using Java 8, which is LTS and is still being maintained.

[2022-01-03 13:51] klajok opened #46 "PRISMA-2021-0213 vulnerability in latest ibm-cos-java-sdk-bundle 2.11.0 jar"
The version of jackson-databind (`2.12.0`) that is shaded within the ibm-cos-java-sdk-bundle jar alerts security scanner. There is reported enigmatic "PRISMA-2021-0213" without details except that the vulnerability has been fixed in jackson-databind version `2.13.1`.

Please update shaded jackson-databind library.

See similar #38 reported in the past.

[2022-01-04 18:11] IBMeric commented on #46
Thanks for your report. I'll get this scheduled for our upcoming maintenance release.

[2022-01-04 21:46] IBMeric commented on #44
Thanks for your report. Someone is looking at this now.

[2022-01-14 09:44] tcherel commented on #46
Thanks @IBMeric
Any ETA by any chances?

[2022-01-14 17:41] IBMeric commented on #46
Yes @tcherel, this work is already done and has just started going through final release.  Barring any surprises, this should be available after the Monday US holiday.

[2022-01-18 05:26] vrangana opened #47 "Need assistance to understand AmazonS3Exception: Null token returned by the Token Provider"
Hi Team,

Can help me understand the scenario when the following AmazonS3Exception is raised with status code as '0'. Thanks in advance.

[code]

[2022-01-18 18:49] IBMeric commented on #47
This error was confusing and has since been changed. The IAM token code has two classes that work together, `TokenManager` and `TokenProvider`. `TokenManager` maintains non-expired tokens for HTTP requests. `TokenProvider` retrieves tokens from the IAM server when `TokenManager` requests a new one. Originally, when `TokenProvider` had a problem, it ate the relevant exception, and returned `null` t

[2022-01-18 18:49] IBMeric commented on #37
@everlylfc This issue has been resolved in 2.11.1. Please verify and close this ticket.

[2022-01-18 18:50] IBMeric commented on #44
@ifs-gaetanlalanne This issue has been resolved in 2.11.1. Please verify and close this ticket.

[2022-01-18 18:51] IBMeric commented on #45
@lee-zhg We officially dropped support for Java 6 and Java 7 in 2.11.1.

[2022-01-18 18:51] #45 closed

[2022-01-18 18:52] IBMeric commented on #46
@klajok @tcherel This issue has been resolved in 2.11.1. Please verify and close this ticket.

[2022-01-18 23:27] tcherel commented on #46
Thanks @IBMeric this is very good news.
Will verify and close.

[2022-01-19 15:43] klajok commented on #46
Many thanks. The scanner no longer reports the library after update to 2.11.1.

[2022-01-19 15:43] #46 closed

[2022-01-20 10:40] ifs-gaetanlalanne commented on #44
Fixed ! Thank you 👯

[2022-01-20 10:40] #44 closed

[2022-01-20 16:26] tourem opened #48 "Caused by: com.ibm.cloud.objectstorage.services.s3.model.AmazonS3Exception: Received java.net.SocketTimeoutException: Read timed out retrieving IAM token (null)"
<dependency>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-starter-parent</artifactId>
                <version>2.5.5</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
            <dependency>
                <groupId>org.springframework.cloud</groupId>
                <artifactId>spring-

[2022-01-21 08:46] #48 closed

[2022-01-25 14:31] roryodonnell opened #49 "SAST : Validation.Required.URL"
Trying to resolve an AppScan HIGH issue.  I'm aware that this would have to be fixed in the upstream AWS repo.  But perhaps, someone more familiar with the library could recommend a solution, something like setting a default local proxy or something.

org.apache.http.client.HttpClient.execute(HttpUriRequest;HttpContext):HttpResponse com.ibm.cloud.objectstorage.http.AmazonHttpClient:1297

[code]

!

[2022-01-25 16:38] roryodonnell opened #50 "SAST: ErrorHandling.RevealDetails.StackTrace"
https://github.com/IBM/ibm-cos-sdk-java/blob/79bae8197ddfbe90b63112a2944864e4dcaefc23/ibm-cos-java-sdk-s3/src/main/java/com/ibm/cloud/objectstorage/services/s3/AmazonS3Client.java#L4522

*Existing*
[code]

*Possible solution*
[code]

![image](https://user-images.githubusercontent.com/26009048/151019207-ba5402d3-d7bc-4b80-a11c-89a335ea8d75.png)

[2022-01-25 16:55] IBMeric commented on #47
Closing ticket as resolved.

[2022-01-25 16:55] #47 closed

[2022-01-25 16:55] IBMeric commented on #37
Closing ticket as resolved.

[2022-01-25 16:55] #37 closed

[2022-01-28 17:12] IBMeric commented on #50
As the code states, one exception is being wrapped and re-thrown as another. The stack trace for the new exception needs to match the original, which requires using that value.

The scanner probably flags this because it is not good practice to display stack trace details to end users. However, the SDK is a framework for building applications, and much like a development library, is not the final

[2022-01-28 17:12] #50 closed

[2022-01-28 17:16] roryodonnell commented on #50
Thanks Eric -

[2022-01-28 17:21] IBMeric commented on #49
What is the scanner's proposed solution? My guess is this is flagged because no verification is done on this string before it is given to the HTTP library. According to the code, this value is only used in certain configurations where an NTLM proxy is being used.

[2022-01-31 11:24] roryodonnell commented on #49
Thanks for t he reply Eric. See below, the "How to fix"  details

![image](https://user-images.githubusercontent.com/26009048/151785457-b7bffa18-f051-4ba3-ab37-6cd28e490e18.png)

[2022-01-31 18:38] IBMeric commented on #49
Thanks. The SDK is more like the "legitimate user" described above in that it uses this URL to do its work and inherently must trust the value passed to it. It has no other way to know or validate the network topology. If the application developer receives proxy URLs from an untrusted source, the application would need to follow the above guidance before putting that data in the SDK's proxy config

[2022-01-31 18:38] #49 closed

[2022-02-01 09:42] roryodonnell commented on #49
Agreed, yes Eric - thank you

[2022-02-16 10:17] pierre-hamy opened #51 "IAM Token retrieval in DefaultTokenProvider does not honor provided client settings - addon"
Hi Team,

Next to #37 (fixing the connection timeout) , it seems that additional IAM client settings should be honored.

For example (_other usefull settings might be missing in this list_):
- Connection Request timeout
- Client Execution Timeout
- Socket timeout
- Max error retries
- ...

Thanks

[2022-02-21 19:01] IBMeric commented on #51
Thanks for your report. I've opened an internal ticket.

[2022-03-28 09:39] klajok opened #52 "ibm-cos-java-sdk-bundle 2.11.1 contains vulnerable jackson-databind 2.13.1"
The library `jackson-databind` version `2.13.1` is embedded in the latest version `2.11.1` of `ibm-cos-java-sdk-bundle` .

According to https://github.com/advisories/GHSA-57j2-w4cx-62h2 the above version of Jackson Databind is vulnerable.

Please prepare new release of COS Java SDK bundle with updated Jackson Databind library.

[2022-03-29 14:31] IBMeric commented on #52
Thanks for your report. We have an internal ticket to complete this work.

[2022-04-14 22:17] hbornstein747 commented on #52
Do you have an ETA when the new version will be available?

[2022-04-16 12:30] hbornstein747 commented on #52
Latest CVE requires update to 2.13.2.2.  Hopefully this will be included. (I am with the the CP4D dev team)

[2022-04-18 10:38] avinash1IBM commented on #52
Thank for the update. This change will be included in the next release. Thanks

[2022-04-19 05:32] avinash1IBM commented on #52
Hello,
The next release will be in second quarter.
Thanks.

[2022-04-26 20:37] IBMeric commented on #52
@klajok @hbornstein747 We have released 2.11.2 to address this issue. Please verify and close this ticket.

[2022-04-28 16:19] hbornstein747 commented on #52
Thank you.  I can verify the issue is resolved.

[2022-05-02 08:30] klajok commented on #52
Thank you.

[2022-05-02 08:30] #52 closed

[2022-06-17 15:25] sann-jay opened #53 "Report security vulnerabilities found via HCL AppScan."
Hi Team,

I work for an IBM product and we bundle our application with various IBM Cloud jars. I just wanted to know how we could report some security vulnerabilities found via HCL AppScan in various IBM Cloud JAR files that we bundle in our application.

I can share the reports internally, if needed.

Thanks!

<img width="868" alt="image" src="https://user-images.githubusercontent.com/2337153/174

[2022-06-22 07:54] IBMalok commented on #53
Thanks for your report. Someone is looking at this now and opened an internal ticket.

[2022-09-08 20:35] psteveibm opened #54 "Vulnerability CVE-2017-1289"
Hi all,
A client of mine reported CVE-2017-1289 with an 8.2 rating "high" in terms of impact.
<img width="482" alt="image" src="https://user-images.githubusercontent.com/113141623/189220460-41e8f205-81c2-4cda-8e61-bf7380332830.png">
Is the team aware of this one and is currently being investigated?  Any ETA of an updated release with this issue addressed?
Thank you

[2022-09-12 20:22] arnabm28 commented on #53
hi @sann-jay

With respect to the above App scan issues, we have concluded all of the vulnerabilities found and explanation to  all of the above was provided.
The same was concluded via email.
May I request you to please close this Github issue.

Thanks.

[2022-09-13 05:59] IBMalok commented on #54
@psteveibm - Thanks for your report. Already team is working on it and opened an internal ticket.

[2022-09-13 16:50] arnabm28 commented on #54
hi @psteveibm

With resect to the vulnerability, according to the CVE-2017-1289, XML External Entity Injection (XXE), there are multiple places in the code where the code is handled to deal with the threat.
Java SDK code has implemented multiple checks to validate the XML being processed and processes the input string accordingly.
More over this security threat is also fixed with the Java 1.8 secu

[2022-09-14 22:58] psteveibm commented on #54
Hi @IBMalok
Thank you very much for your fast response!  It is very much appreciated.  I will forward your findings over to my client and let you know if we have any additional concerns.  I agree with your assessment that the issue can be remediated easily by using a secure version of Java.  Thank you again. -Steve

[2022-09-16 10:45] gridhawk opened #55 "intermittent SSLHandshakeException: unable to find valid certification path to requested target retrieving IAM token"
Getting issues loading files from Cloud Object Storage in the Java Spring application.

Our Spring service is running as a container in IBM Kubernetes in VPC.
We followed documentation from https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-java#java-examples to connect.

We access the bucket through app - Java - followed documentation on how to connect.
https://cloud.ibm.c

[2022-09-16 12:00] IBM-diksha commented on #55
@gridhawk
An internal ticket has been created to track the issue and we will be working on it.

[2022-09-19 21:56] gridhawk commented on #55
Requesting customer contact to gather the following:

1. which ibm-cos-sdk version is used.
2. part of the java code that is causing the error.

[2022-09-21 21:42] gridhawk commented on #55
here is the info:

1. <dependency>
<groupId>com.ibm.cos</groupId>
<artifactId>ibm-cos-java-sdk</artifactId>
<version>2.12.0</version>
</dependency>

2. The scenario is:

when container is being deployed, it connects to bucket without issues with code:

AWSCredentials credentials = new BasicIBMOAuthCredentials(apiKey, serviceInstanceId);
ClientConfiguration clientConfiguration = new ClientConfigura

[2022-09-22 17:47] #53 closed, assigned to nobody

[2022-09-28 09:25] gridhawk commented on #55
*Update: we tried various ways to recreate the customer issue using the exact code provided, but we are not facing any such issue or error.
Currently we suspect the problem [ after ~ 60mins we get: SSLHandshake ] is moreover an issue between SSL and server and less related to SDK.

Setting case as resolved with workaround in place and no further requests from involved development team to require c

[2022-09-28 09:25] #55 closed

[2022-09-28 09:29] stefandejanovic commented on #55
Let me give you some more info:

Our container is running in k8s with VPC. So we have 2 containers:

1. Spring - using ibm-cos-sdk causing this issue
2. NodeJS - using ibm-cos-sdk for nodejs without any issues

So maybe problem is somewhere with JVM and certificates to look into.

[2022-10-11 12:55] mkrakow opened #56 "CVE-2022-42003 - ibm-cos-java-sdk-bundle 2.12.0 contains vulnerable in jackson-databind 2.13.3"
The library jackson-databind version 2.13.3 is embedded in the latest version 2.12.0 of ibm-cos-java-sdk-bundle .

According to https://github.com/advisories/GHSA-57j2-w4cx-62h2 the above version of Jackson Databind is vulnerable.

Could you please fix COS Java SDK bundle with updated Jackson Databind library to 2.14.0 ?

[2022-10-13 13:34] IBMalok commented on #56
@mkrakow - Thanks for your report. We have an internal ticket to complete this work.

[2022-10-21 13:21] tcherel commented on #56
@IBMalok do you have an idea when that will be completed?
Jackson Databind library to 2.14.0 is not GA yet but 2.13.4.2 (already GA) contains all the fixes need for this vulnerability (as well as some of the recent new ones (https://nvd.nist.gov/vuln/detail/CVE-2022-42003 and https://nvd.nist.gov/vuln/detail/CVE-2022-42004).

[2022-10-26 16:36] IBMalok commented on #56
@tcherel - We're going to release soon.

[2022-11-03 17:51] IBMalok commented on #56
@mkrakow @tcherel  - We have released 2.12.1 to address this issue. Please verify and close this ticket.

[2022-11-17 07:39] IBMalok commented on #56
Closing this issue as resolved.

[2022-11-17 07:39] #56 closed

[2022-11-17 10:48] tcherel commented on #56
@IBMalok my apologies, forgot to update the git issue to confirm that the issue is indeed fixed.
Thanks